@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root{
    --navigationbar-color:#fec0c1;
    --body-color:#fee8e9;
}

*{
    margin: 0;
    padding: 0;
 background-color: var(--body-color);
}
